# src/utils/config.ts

NODE_ENV=development
PORT=3000
LOGGER=true
RATE_LIMIT_MAX=30
RATE_LIMIT_WINDOW=60000

GITHUB_WEBHOOK_SECRET=github-webhook-secret
COOLIFY_WEBHOOK_SECRET=coolify-webhook-secret
DISCORD_WEBHOOK_SECRET=discord-webhook-url
